---
---

<article class="flex flex-col md:flex-row gap-8 justify-center items-center">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-400 [&>p>strong]:font-semibold text-pretty order-2 md:order-1"
  >
    <p>
      I'm a
      <strong>Fullstack developer</strong> helping people make the world a better
      place through quality software.
    </p>

    <p>
      I have skills in different technologies, I am characterized by being
      proactive, perfectionist, self-demanding and responsible in my work.
      Proven expertise in developing, testing and debugging high-performing
      software solutions with a keen eye for detail.
    </p>
    <p>
      Skilled in object-oriented programming, web development and database
      technologies. Excellent problem-solving and communication skills and
      demonstrates a passion for learning and implementing new technologies.
    </p>
  </div>

  <!-- <img
    src="/me.png"
    class="rounded-full size-64 order-1 md:order-2"
    alt={personalImageAlt}
  /> -->
</article>
